{% extends "theme::layouts/default" %}

{% block content %}

    <div class="container">

        <h1 class="text-center">
            Ready to get started?

            <br>

            <small>This is the sub header</small>
        </h1>

        <br>

        <div class="col-lg-8">
            <div class="tile">
                <h2>Community</h2>

                <ul class="list-unstyled">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus</li>
                    <li>Porta ac consectetur ac</li>
                    <li>Vestibulum at eros</li>
                </ul>

                <a href="#" class="btn btn-lg btn-block btn-info">Download</a>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="tile">
                <h2>Professional</h2>

                <ul class="list-unstyled">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus</li>
                    <li>Porta ac consectetur ac</li>
                    <li>Vestibulum at eros</li>
                </ul>

                <a href="#" class="btn btn-lg btn-block btn-success">Purchase</a>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="tile">
                <h2>Enterprise</h2>

                <ul class="list-unstyled">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus</li>
                    <li>Porta ac consectetur ac</li>
                    <li>Vestibulum at eros</li>
                </ul>

                <a href="#" class="btn btn-lg btn-block btn-success">Purchase</a>
            </div>
        </div>

    </div>

{% endblock %}
