<footer id="footer">

    <div class="container">
        <div class="text-center">

            <h3>&copy; {{ 'now'|date('Y') }} PyroCMS, Inc.</h3>

            {#<ul class="list-unstyled">
                <li><a class="text-muted" href="#">Design</a></li>
            </ul>#}
        </div>
    </div>

</footer>
