<section id="masthead">

    <div class="jumbotron jumbotron-red">
        <div class="container">

            <h1><a href="#">Built for everyone</a></h1>

            <p>Whether you're a developer or designer, manager or assistant, PyroCMS helps you quickly design, build and manage your website. </p>

            <p><a href="#"><strong>Download for free</strong></a> and check out our <a href="#documentation"><strong>documentation</strong></a> to get started.</p>
        </div>
    </div>

</section>
