<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <div class="jumbotron jumbotron-red">
                <div class="container">

                    <h1><a href="#">Built for everyone</a></h1>

                    <p>Whether you're a developer or designer, manager or assistant, PyroCMS helps you quickly design, build and manage your website. </p>

                    <p><a href="#"><strong>Download for free</strong></a> and check out our <a href="#documentation"><strong>documentation</strong></a> to get started.</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron jumbotron-red">
                <div class="container">

                    <h1><a href="#">Powered by Laravel</a></h1>

                    <p>Whether you're a developer or designer, manager or assistant, PyroCMS helps you quickly design, build and manage your website. </p>

                    <p><a href="#"><strong>Download for free</strong></a> and check out our <a href="#documentation"><strong>documentation</strong></a> to get started.</p>
                </div>
            </div>
        </div>

    </div>
</div>
